* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 40vh;
    background-image: url(bg_header.png);
    background-position: bottom;
}

nav img {
    width: 100px;
    position: absolute;
    left: 12%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;

}

nav ul li a {
    color: rgb(92, 87, 87);
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(29, 29, 184);
}

.div2 {
    position: relative;
    top: 100px;
    /* width: 50%; */
}

.div2a {
    margin-left: auto;
    width: 60%;
    position: relative;
}

.button_generate {
    background-color: rgb(51, 51, 156);
    padding: 10px 70px 10px 30px;
    border-radius: 0 50px 50px 0;
    border: none;
    color: white;
    position: absolute;
    left: 10px;
    top: 0px;
    /* margin: ; */
}

.button_saved {
    padding: 10px 40px 8px 70px;
    border: 2px solid grey;
    border-width: 1px;
    background-color: rgb(144,183,228);
    margin-left: 140px;
}

.div2b {
    width: 75%;
    margin-left: auto;
    font-size: 18px;
    /* margin-left: 50%; */
}

.labelproject {
    margin-right: 10px;
}

.inputgit {
    padding: 5px;
    background-color: transparent;
    border: 1px solid grey;
}

::placeholder {
    padding-left: 20px;
    color: black;
}

.file img {
    height: 50px;
    margin-left: 15em;
}

.file {
    border-radius: 10px;
    border: 3px dotted black;
    font-size: 20px;
    margin: -50px 450px 20px 450px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px 0;
    color: white;
    background-color: rgba(101, 123, 156, 0.932);
    /* line-height: 10px; */
}

.file button {
    margin-left: 12em;
    border: none;
    font-size: 20px;
    background: transparent;
    color: white;
}

.file :active {
    /* border: 3px solid black; */
}

.drag {
    text-align: center;
}

.drop{
    text-align: center;
}

.div3 {
    width: 44%;
    margin: auto;
}

.div3a {
    font-size: 21px;
}

.div3b {
    /* border: 2px dotted grey; */
}

.place {
    border-radius: 7px ;
    border: 2px dotted grey;
    width: 100%;
    outline: none;
    height: 50PX;
}

.div4 {
    width: 44%;
    margin: auto;
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 18px;
    font-weight: 400;
}

.check {
    margin: 0 10px;
    size: 30px;
    transform: scale(1.5);
}

.div5 {
    width: 44%;
    margin: auto;
    display: flex;
    align-items: right;
    justify-content: right;
    
}

.button1 {
    padding: 4px 6px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: rgb(51, 51, 156);
}

@media screen and (max-width: 1519px) {


    .file img {
        margin-left: 13em;
    }

    .file button {
        margin-left: 10em;
    }

    .div3 {
        width: 39%;
        margin: auto;
    }

    .div4 {
        width: 40%;
        margin: auto;
    }
    
    .div5 {
        width: 40%;
        margin: auto;
        
    }
    
}

@media screen and (min-width:1519px) {
    .div3 {
        width: 42%;
        margin: auto;
    }

    .div4 {
        width: 42%;
        margin: auto;
    }
    
    .div5 {
        width: 42%;
        margin: auto;
    }
}

@media screen and (max-width: 1485px) {
    .div2 {
        position: relative;
        top: 15px;
        /* width: 50%; */
    }

    .file img {
        margin-left: 13em;
    }

    .file p span {
        margin-right: 30px;
    }
    
}

@media screen and (max-width: 1477px) {


    .file img {
        margin-left: 12em;
    }

    .div3 {
        width: 39%;
        margin: auto;
    }

    .div4 {
        width: 40%;
        margin: auto;
    }
    
    .div5 {
        width: 40%;
        margin: auto;
        
    }
    
}

@media screen and (max-width: 1418px) {


    .file img {
        margin-left: 11em;
    }

    .div3 {
        width: 36%;
        margin: auto;
    }

    .div4 {
        width: 37%;
        margin: auto;
    }
    
    .div5 {
        width: 37%;
        margin: auto;
        
    }

    .file button {
        margin-left: 8em;
    }
    
}

@media screen and (max-width: 1360px) {


    .file img {
        margin-left: 12em;
    }

    .div3 {
        width: 40%;
        margin: auto;
    }

    .div4 {
        width: 39%;
        margin: auto;
    }
    
    .div5 {
        width: 39%;
        margin: auto;
        
    }

    .file button {
        margin-left: 8em;
        font-size: 19px;
    }

    nav img {
        position: absolute;
        left: 9%;
    }

    nav ul li a {
        font-size: 18px;
    }

    .file {
        border-radius: 10px;
        border: 3px dotted black;
        font-size: 19px;
        margin: -35px 400px 20px 400px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        padding: 25px 0 20px 0;
        color: white;
        background-color: rgba(101, 123, 156, 0.932);
        /* line-height: 10px; */
    }
    
}

@media screen and (max-width: 1300px) {


    .file img {
        margin-left: 11em;
    }

    .div3 {
        width: 41%;
        margin: auto;
    }

    .div4 {
        width: 42%;
        margin: auto;
    }
    
    .div5 {
        width: 42%;
        margin: auto;
        
    }

    .file button {
        margin-left: 8em;
        font-size: 20px;
    }

    .file {
        border-radius: 10px;
        border: 3px dotted black;
        font-size: 19px;
        margin: -35px 380px 20px 380px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        padding: 25px 0 20px 0;
        color: white;
        background-color: rgba(101, 123, 156, 0.932);
        /* line-height: 10px; */
    }
    
}

@media screen and (max-width: 1250px) {


    .file img {
        margin-left: 8em;
    }

    .div3 {
        width: 32%;
        margin: auto;
    }

    .div4 {
        width: 33%;
        margin: auto;
    }
    
    .div5 {
        width: 33%;
        margin: auto;
        
    }

    .file button {
        margin-left: 5em;
        font-size: 20px;
    }

    .file {
        border-radius: 10px;
        border: 3px dotted black;
        font-size: 19px;
        margin: -30px 350px 20px 350px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        padding: 25px 0 20px 0;
        color: white;
        background-color: rgba(101, 123, 156, 0.932);
        /* line-height: 10px; */
    }
    
}